body {
  background: radial-gradient(
    circle,
    rgb(106, 137, 167) 0%,
    rgb(106, 113, 120) 100%
  );
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.divided_container {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  max-height: 800px;
  height: 800px;
  width: 100%;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 25px;
  gap: 8rem;
}

.left_container {
  background: blue;
  max-width: 600px;
  max-height: 750px;
  height: 100%;
  width: 100%;
}

.right_container {
  max-width: 600px;
  border-radius: 15px;
}

.signup_text {
  text-align: left;
  color: rgb(210, 218, 225);
  width: 60%;
  margin-bottom: 6rem;
  margin-top: -10rem;
  margin-left: 2rem;
}

.signup_text h1 {
  font-size: 3rem;
  margin-bottom: -0.5rem;
}

.signup_text p {
  margin-left: 0.3rem;
}

.login_link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  gap: 0.4rem;
  color: rgb(210, 218, 225);
}

.name_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.name_container input {
  width: 32.7%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}

.input_container {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  margin: 0.5rem;
}

.input_container input {
  width: 90%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.submit_btn {
  background: black;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  width: 80%;
  padding: 8px;
  margin: 10px auto;
  display: block;
}
